@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --grad-rose: linear-gradient(90deg, rgb(151, 0, 118) 0%, rgb(250, 163, 212) 100%);
  --grad-blue: linear-gradient(90deg, #2c1d6e 0%, #2c1d6e67 50%, #2c1d6e 100%);
}
@layer base {
  body {
    background-image: url('../public/images/f3.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    min-height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2, h3 {
  background: var(--grad-blue);
  -webkit-background-clip: text;
  background-clip: text;
}  


